*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    display: flex;
    padding: 10px 15vh;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(110, 43, 226);
}
.logo img{
    width: 35px;
    height: 35px;
    border-radius: 40px;
}
.catalog section{
    list-style-type: none;
    background: #c6d2e9;
    width: 15vh;
    height: 5vh;
    border-radius: 5px;
}
.catalog a{
    display: block;
    padding: 5px 15px;
    color: rgb(95, 0, 191);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.dropdown{
    width: 100vh;
    background: #ffffff;
    display: none;
    padding: 0 20px;
}
.catalog a:hover{
    background: #ececec;
    border-radius: 5px;
}
.catalog section:hover ul.dropdown{
    display: flex;
    gap: 50px;
}
.catalog section:hover .box1{
    margin: 30px 0;
}
.search{
    display: flex;
    gap: 10px;
}
.srch{
    display: flex;
    justify-content: space-between;
    width: 60vh;
    height: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.srch1{
    background-color: white;
    width: 40vh;
    padding: 7px 20px;
    border-radius: 5px;
}
.srch1 input{
    border: none;
    width: 23vh;
}
.glass{
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 30px;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons1{
    display: flex;
    gap: 10px;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
}
.icons1 i{
    font-size: 20px;
}
.icons1:hover{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.navbar{
    padding: 10px 15vh;
}
.under-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.ad{
    background-image: url(phone.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}
.ad i{
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 15px;
    border-radius: 50px;
    cursor: pointer;
}
.ad i:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}
.categories{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.box2{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40vh;
    height: 8vh;
    border-radius: 10px;
    gap: 10px;
    transition: 500ms;
    cursor: pointer;
}
.box2:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.text1 i{
    font-size: 20px;
    padding: 20px 0;
}
.img-all{
    background-size: cover;
    background-position: center;
    height: 40vh;
    padding: 20px;
    border-radius: 10px;
    width: 30vh;
    transition: 300ms;
}
.img-all:hover{
    transform: scale(1.05);
    border-radius: 10px 10px 0 0;
}
.img-all i{
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    justify-content: flex-end;
}
.text{
    padding: 5px;
    width: 30vh;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.box3 h1{
    font-size: 17px;
    color: rgb(110, 43, 226);
}
.box3 h2{
    font-size: 15px;
    color: grey;
}
.box3 h3{
    font-size: 11px;
    background-color: yellow;
    padding: 3px;
    border-radius: 5px;
    margin-right: 130px;
}
.box3 p{
    font-size: 15px;
}
.box3 li{
    font-size: 11px;
    color: grey;
}
.box3 li i{
    color: yellow;
}
.box3 button{
    font-size: 15px;
    color: white;
    width: 100%;
    padding: 10px 25px;
    background-color: rgb(95, 0, 191);
    transition: 300ms;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.box3 button:hover{
    background-color: rgb(110, 43, 226);
}
.box3 button i{
    padding-right: 10px;
}
.img1{background-image: url(a1.jpg);}
.img2{background-image: url(a2.jpg);}
.img3{background-image: url(a3.jpg);}
.img4{background-image: url(a4.jpg);}
.img5{background-image: url(a5.jpg);}
.img6{background-image: url(a6.jpg);}
.img7{background-image: url(a7.jpg);}
.img8{background-image: url(a8.jpg);}
.img9{background-image: url(a9.jpg);}
.img10{background-image: url(a10.jpg);}
.img11{background-image: url(a11.jpg);}
.img12{background-image: url(a12.jpg);}
.img13{background-image: url(a13.jpg);}
.img14{background-image: url(a14.jpg);}
.img15{background-image: url(a15.jpg);}
.img16{background-image: url(a16.jpg);}
.img17{background-image: url(a17.jpg);}
.img18{background-image: url(a18.jpg);}
.img19{background-image: url(a19.jpg);}
.img20{background-image: url(a20.jpg);}
.mode{
    background-image: url(mode.jpg);
    background-size: cover;
    background-position: center;
    height: 55vh;
    border-radius: 10px;
    margin: 20px 0;
    transition: 300ms;
}
.mode:hover{
    transform: scale(1.03);
}
.week-things{
    background-image: url(week-things.jpg);
    background-size: cover;
    background-position: center;
    height: 55vh;
    border-radius: 10px;
    margin: 20px 0;
    transition: 300ms;
}
.week-things:hover{
    transform: scale(1.03);
}
.footer{
    padding: 10px 15vh;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 60px 0;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.f1 ul li{
    padding: 10px 0;
    color: gray;
}
.f1 b{
    padding: 10px 0;
}
.flex{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
.download i{
    font-size: 20px;
}
.networks{
    padding-top: 30px;
}
.icons2{
    padding-top: 20px;
}
.icons2 i{
    font-size: 35px;
    gap: 10px;
}
.OOO li{
    font-size: 12px;
    color: gray;
}
.footer-bottom{
    padding: 20px 0 10px 0;
}
